{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RNMotion</title>

    
    <link href="{% static 'AppPrueba/css/style.css' %}" rel="stylesheet" type="text/css">
   


    
    
   

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="80">


 
























    <script src="{% static 'AppPrueba/js/jquery.min.js' %}" type="text/javascript"></script>
    
    
    <!-- bootstrap js-->
   

   	       
    
    <!--revolution slider scripts-->

    <script src="{% static 'AppPrueba/js/owl.carousel.js' %}" type="text/javascript"></script>
    <script src="{% static 'AppPrueba/js/custom.js' %}" type="text/javascript"></script>
    
    
    
    
    
</body>
</html>